// 颜色
$accentColor = #C6715B
$textColor = #333
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$txtColor = rgba(255, 255, 255, 0.8)
$bgColor = #25272a
$borColor = #444

body.dark{
    background-color:$bgColor;
    .navbar{
    background-color:$bgColor;
    border-bottom-color:$borColor;
    color:$txtColor;
    .site-name,.sidebar-button{
      color:$txtColor;
    }
    .links{
      background-color:$bgColor;
      color:$txtColor;
    }
    .dropdown-title{
      color:$txtColor;
    }
  }
  .search-box{
    .suggestions{
      background-color: $bgColor;
    }
  }
  .sidebar{
    background-color:$bgColor;
    border-right-color:$borColor;
    color:$txtColor;
    .sidebar-link,.nav-item,.dropdown-wrapper span{
      color:$txtColor;
    }

  }
  .page{
      color:$txtColor;
      .page-nav .inner{
        border-top-color:$borColor;
      }
      h2{
        border-bottom-color:$borColor; 
      }
      code{
        color: $txtColor;
        background-color: rgba(240, 141, 73, 0.5);
      }
  }
  .home{
    #main-title{
      color:$txtColor;
    }
    .features,.footer{
      border-top-color: $borColor; 
    }
    .feature h2, .feature p{
      color:$txtColor;
    }
  }
}
