:root {
	--vp-c-brand: #c6715b;
	--vp-c-brand-dark: #c6715b;
	--vp-c-brand-light: #c6715b;
	--vp-c-brand-lighter: #c6715b;

	--vp-home-hero-name-color: transparent;
	--vp-home-hero-image-filter: blur(88px);
	--vp-home-hero-image-background-image: linear-gradient(
		-45deg,
		#ecaf07ea 50%,
		#c6715b 50%
	);
	--vp-home-hero-name-background: linear-gradient(45deg, #ecaf07ea, #c6715b);
}

html .dark {
	--vp-c-brand: #c6715b;
	--vp-c-brand-light: #c6715b;
}

/* 版本号 */
.clip::after {
	content: 'v5.0.3';
	font-size: 24px;
	color: #fff;
	padding: 0 10px;
}

/* 搜索栏 */
.VPNavBarSearch {
	justify-content: flex-end;
	padding-right: 16px;
}

/* 首页小图标 */
.items .icon {
	margin: 20px auto;
}

/* 首页标题描述 */
.title,
.details {
	text-align: center;
}

/* 上一页，下一页 */
.prev .desc,
.prev .title {
	text-align: left;
}
.next .desc,
.next .title {
	text-align: right;
}

/* 头像 */
.user-img {
	width: 80px;
	height: 80px;
	border-radius: 100%;
}
.user-img:hover {
	transition: all 1s;
	transform: rotate(360deg);
}
