:root {
	--color: #b95e46;
	--vp-c-brand: var(--color);
	--vp-c-brand-dark: var(--color);
	--vp-c-brand-light: var(--color);
	--vp-c-brand-lighter: var(--color);

	--vp-home-hero-name-color: transparent;
	--vp-home-hero-image-filter: blur(150px);
	--vp-home-hero-image-background-image: linear-gradient(
		45deg,
		#ecaf07ea 50%,
		var(--color) 50%
	);
	--vp-home-hero-name-background: linear-gradient(45deg, #ecaf07ea, var(--color));
	--vp-c-bg-alpha-with-backdrop: transparent;
	/* --vp-c-black-mute:background:rgb(47,47,47); */
}

html .dark {
	--vp-c-brand: var(--color);
	--vp-c-brand-light: var(--color);
}
/* */
/* @media (min-width: 960px) {
	.VPHome .image-container {
		transform: translate(0, 0);
	}
} */

/* 版本号 */
/* .clip::after {
	content: 'v5.0.3';
	font-size: 24px;
	color: #fff;
	padding: 0 10px;
} */

/* 侧边栏 */
/* .aside {
	display: none !important;
} */

.content-container {
	max-width: 100% !important;
}

.container > .content {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.VPDocFooter {
	display: none;
}

.pager-link .desc {
	display: none;
}

.top-link {
	display: none !important;
}

.menu-text {
	display: none !important;
}

.VPNavScreenAppearance .text {
	display: none;
}

.VPSwitch {
	margin: auto;
}

.container .name {
	padding-top: 4vh;
}
.container .name,
.container .text,
.container .tagline {
	max-width: 100vw;
	text-align: center;
}

.container .actions {
	justify-content: center;
}

/* 搜索栏 */
/* .VPNavBarSearch {
	justify-content: flex-end;
	padding-right: 16px;
} */

/* 首页小图标 */
.items .icon {
	margin: 20px auto;
}

/* 首页标题描述 */
.title,
.details {
	text-align: center;
}

/* 上一页，下一页 */
.prev .desc,
.prev .title {
	text-align: left;
}
.next .desc,
.next .title {
	text-align: right;
}

/* 头像 */
.user-img {
	width: 80px;
	height: 80px;
	border-radius: 100%;
}
.user-img:hover {
	transition: all 1s;
	transform: rotate(360deg);
}
