:root {
  --color: #cc6f55;
  --vp-c-brand: var(--color);
  --vp-c-brand-dark: var(--color);
  --vp-c-brand-light: var(--color);
  --vp-c-brand-lighter: var(--color);
  --vp-layout-max-width: 1420px;
}

html .dark {
  --vp-c-brand: var(--color);
  --vp-c-brand-light: var(--color);
}

.VPSwitch {
  margin: auto;
}

.container .name {
  padding-top: 4vh;
}

.container .name .clip {
  line-height: 44px;
  background: -webkit-linear-gradient(270deg, var(--color) 25%, rgb(225, 164, 99));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .name,
.container .text,
.container .tagline {
  max-width: 100vw;
  text-align: center;
}

.container .tagline {
  padding-top: 16px;
}

.container .actions {
  justify-content: center;
}

/* 搜索栏 */
/* .VPNavBarSearch {
	justify-content: flex-end;
	padding-right: 16px;
} */

/* 首页小图标 */
.items .icon {
  margin: 20px auto;
}

/* 首页标题描述 */
.title,
.details {
  text-align: center;
}

/* 上一页，下一页 */
.prev .desc,
.prev .title {
  text-align: left;
}

.next .desc,
.next .title {
  text-align: right;
}

/* 头像 */
.user-img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.user-img:hover {
  transition: all 1s;
  transform: rotate(360deg);
}

.name,
.tagline {
  animation: cl 1s ease-in-out;
}

@keyframes cl {
  0% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(1);
  }
}

/* 菜单文本 */
.menu-text {
  display: none;
}

/* 置顶 */
.top-link {
  display: none !important;
}

.VPNavScreenAppearance .text {
  display: none;
}

.prev-next {
  display: none !important;
}

.menu-icon {
  width: 22px !important;
  height: 22px !important;
}

.menu {
  color: inherit !important;
}